@import "../variables";

.about-us-navigation {
  position: fixed;
  z-index: 10;
  top: 1.8rem;
  right: 2rem;
  width: calc(100vw - 180px);
  white-space: nowrap;

  ul {
    display: flex;
    justify-content: flex-end;

    .contact-link {
      display: none;
    }

    li {
      list-style: none;
      margin-right: 1rem;
      cursor: pointer;

      .active {
        color: $black;
        border-bottom: 1px solid $black;
      }
    }
  }
}

@media (max-width: 600px) {
  .about-us-navigation {
    transform: rotate(90deg);
    transform-origin: left bottom;
    top: 40%;
    left: 93%;
    width: 100vw;
    white-space: nowrap;
    right: unset;

    ul {
      display: flex;
      justify-content: flex-end;

      .contact-link {
        display: block;
      }

      li {
        list-style: none;
        margin-right: 1rem;
      }
    }
  }
}
