@import "../variables";

.about-us-nav-container {
  display: none;
}

@media (max-width: 600px) {
  .about-us-nav-container {
    display: block;

    position: absolute;
    display: inline-block;
    top: 100px;
    bottom: 0;
    right: 0;

    ul {
      position: fixed;
      bottom: 1rem;
      right: -10rem;
      display: flex;
      justify-content: flex-end;
      transform: rotate(90deg) translate(-50%, 50%);

      li {
        list-style: none;
        margin-right: 20px;
        font-size: 14px;

        a {
          text-decoration: none;
          color: $grey;
        }

        .active {
          color: $black;
          border-bottom: 1px solid $black;
        }
      }
    }
  }
}
