.address-container {
  display: none;
}

@media (max-width: 600px) {
  .address-container {
    display: block;
    padding: 6rem 1rem 0 1rem;
    font-size: 21px;

    div {
      margin: 0.3rem 0;
    }
  }
}
