@import "../variables";

.about-us-container {
  padding: 1rem;
  .about-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    p {
      max-width: 800px;
      line-height: 1.7;
    }
  }
}

.list-item-about-us {
  &:first-child {
    .list-item-dot {
      display: none;
    }
  }
  .list-item-dot {
    height: 8px;
    width: 8px;
    background: $black;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.2rem 0 0.4rem;
  }
}

@media (max-width: 600px) {
  .about-us-container {
    padding: 0 3rem 0 1rem;

    .about-content-wrapper {
      height: unset;
      padding: 5rem 0;
    }
  }
}
