.header-container {
  .header-navigation {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 1rem;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        list-style: none;
        height: 30px;

        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header-container {
    .header-navigation {
      ul {
        height: 50px;
        li {
          .logo-wrapper {
            overflow: hidden;
            width: 50px;
          }
        }
      }
    }
  }
}
