.header-container {
  .header-navigation {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 1.5rem 1rem;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        list-style: none;

        .logo {
          height: 30px;
        }

        .arrow {
          height: 20px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header-container {
    .header-navigation {
      top: 0;
      ul {
        height: 50px;
        li {
          .logo-wrapper {
            overflow: hidden;
            width: 30px;
          }
        }
      }
    }
  }
}
