@import "./variables";

::-webkit-scrollbar {
  width: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 14px Helvetica, sans-serif, serif;
  line-height: 1.2;
}

body {
  color: $black;
  font-family: Helvetica, sans-serif, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

.mystyle {
  overflow: hidden;
  overscroll-behavior: contain;
}

a {
  color: $black;
  text-decoration: none;
}

// CMS
.frame-content {
  img {
    width: 100% !important;
  }
}

.css-yilgkd-WidgetPreviewContainer {
  img {
    width: 100%;
  }
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background: url("../images/three-dots.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

// Impressum DSGVO

.personal-data-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 6rem 1rem;

  h1,
  h2,
  h3 {
    font-size: 14px;
  }

  h1 {
    margin: 0.5rem 0;
  }

  h3,
  h2 {
    margin: 0.3rem 0;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

.datenschutz-list {
  list-style: none;
}
